################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/DrawEngine.cs.bak
/bin/Release
/.vs/ImageViewerEx/v15
